@use "styles/color.module" as color;

.not-found-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: map-get(color.$common, white);

  > :first-child {
    margin-top: auto;
  }

  > :last-child {
    margin-top: auto;
    margin-bottom: 60px;
  }
}
