.image-section {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  img {
    width: 200px;
    height: 200px;
  }
  img:nth-of-type(even) {
    width: 300px;
    height: 300px;
  }
}
