@use "styles/color.module" as color;

.intro-section {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box {
  position: relative;

  h1 {
    display: inline;
    height: 100%;
  }

  p {
    position: absolute;
    top: 0;
    right: -60px;
    padding: 4px 8px;

    border: 1px solid map-get(color.$common, black);
    border-radius: 8px;

    background-color: map-get(color.$background, border);
    color: white;
  }
}

.character-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  div:first-of-type {
    h2 {
      display: inline;
    }
  }

  div:not(:first-of-type) {
    color: map-get(color.$common, white);
    padding: 6px 16px;
    border-radius: 50%;
    background: map-get(color.$error, light);
  }
}
