@use "styles/color.module" as color;

.stat-section {
  padding: 20px 100px;
}

.stat-box {
  padding: 20px;
  background-color: map-get(color.$background, border);
  border: 2px solid map-get(color.$background, header);
  border-radius: 16px;

  > div:not(:last-of-type) {
    margin-bottom: 10px;
  }

  p {
    display: inline-block;
    margin-right: 10px;
    width: 130px;
  }
}

.percentage-bar {
  display: inline-block;
  width: 70%;
  height: 36px;
  background-color: map-get(color.$common, white);
  border-radius: 16px;

  padding-left: 8px;
}

.progress {
  display: inline-block;
  margin-top: 8px;
  background-color: map-get(color.$error, main);
  border-radius: 16px;
  height: 20px;

  span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    p {
      //display: inline-block;
      width: fit-content;
      height: 100%;
      //text-align: end;
      //padding-right: 10px;
    }
  }
}
