@use "styles/color.module" as color;

.intro-section {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box {
  display: flex;
  align-items: center;
  gap: 12px;

  h1 {
    text-transform: capitalize;
  }

  p {
    padding: 4px 8px;

    border: 1px solid map-get(color.$common, black);
    border-radius: 8px;

    background-color: map-get(color.$background, border);
    color: white;
  }
}

.character-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  div:first-of-type {
    display: flex;
    gap: 8px;

    h2 {
      &:first-of-type::after {
        content: "|";
        margin-left: 8px;
        color: map-get(color.$common, white);
        opacity: 0.5;
      }
    }
  }

  div:not(:first-of-type) {
    color: map-get(color.$common, white);
    padding: 6px 16px;
    border-radius: 50%;
    background: map-get(color.$error, light);
    text-transform: capitalize;
  }
}
