@use "styles/color.module" as color;

.main-list-layout {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 4px 0;
  background-color: map-get(color.$background, background-primary);
}
