@use "styles/color.module" as color;

.main-list-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px 4px 0;
  background-color: map-get(color.$background, background-primary);
}

.sentinel {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
